body {
    /* display: flex;
    justify-content: center;
    text-align: center; */
    min-height: 100vh;
    background-color: #626060;
    color: #ffffff;
    text-align: center;
    margin: 0;
}
header{
    text-align: center; 
 }
#game-container {
    background-color: rgb(232, 135, 60);
    max-width: 600px;
    width: 80%;
    margin: auto;
    padding: 20px;
    overflow: hidden;
}

#question-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#home-container {
    background-color: rgb(232, 135, 60);
    max-width: 600px;
    width: 80%;
    height: 200px;
    margin: auto;
    padding: 20px;
    overflow: hidden;
}

#question {
    font-size: 30px;
    margin-bottom: 20px;
}

#answer-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}
    
#answer-buttons button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #9e9e9e;
    color: #ffffff;
    font-size: 20px;
    /* research how to increase pointer size */
    cursor: pointer;
    /* add transition*/

    /* cursor: wait; ...experimenting, maybe add to timeout trigger */
}

#start-btn {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #9e9e9e;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
}

#answer-buttons .btn:hover {
    background-color: #d5d5d5;
}


.btn:hover {
    background-color: #a9a9aa;
}

/* 
#answer-buttons:hover {
    background-color: #a9a9aa;
} */

#footer {
    margin-top: 40px;
    font-size: 20px;
    color: rgb(48, 47, 47)000;
}

.hidden {
    display: none;
}