body {
    /* display: flex;
    justify-content: center;
    text-align: center; */
    min-height: 100vh;
    background-color: #0A1931;
    color:#193466;
    text-align: center;
    margin: 0;
}
header{
    text-align: center; 
    background-color: #e8684d;
    color: #ffffff;
 }
#game-container {
    background-color: #fcf3d6;
    max-width: 600px;
    width: 80%;
    margin: auto;
    padding: 20px;
    overflow: hidden;
    border-radius: 30px;

}

#question-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    overflow: hidden;
}

#home-container {
    background-color: #e8684d;
    max-width: 600px;
    width: 80%;
    height: 150px;
    margin: auto;
    padding: 20px;
    overflow: hidden;
    border-radius: 30px;
}

#question {
    font-size: 30px;
    margin-bottom: 20px;
}
#result-text {
    font-size: 30px;
    margin-bottom: 20px;
}

#answer-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}
    
#answer-buttons button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color:#00BFFF;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;

}

#start-btn {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #00BFFF;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
}
#start-btn:hover {
    background-color: #0b99d1;
}

#answer-buttons .btn:hover {
    background-color: #00a3e9;
    width: 110%;
    transition: 0.2s; 
}


.btn:hover {
    background-color: #a9a9aa;
}

/* 
#answer-buttons:hover {
    background-color: #a9a9aa;
} */

#footer {
    margin-top: 40px;
    font-size: 20px;
    color: rgb(48, 47, 47)000;
}

.hidden {
    display: none;
}

#timer {
    font-size: 20px;
    text-align: right;
    color: #e8684d;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9;
    border-radius: 20px;
}

#reply {
    font-size: 40px;
    text-align: center;
    color: #e2dddc;
}